@import "https://fonts.googleapis.com/css?family-Poppins:300,400,500,600,700";
<!--Letras bonitas-->
body{
	font-family: 'Poppins',sans-serif;
	background-color: #E3ADED;
}
.img{
	width: 100%;
}
p{
	font-family: 'Poppins',sans-serif;
	color: green;
}
h1{
	color: #800080;
}
.scrollspySite{
	position: relative;
	overflow: auto;
	height: 355px;
}
#inputNome{
	border: solid;
}
#inputEmail{
	border: solid;
}
#inputAssunto{
	border: solid;
}
#inputTextarea{
	border: solid;
}
form{
	background-color: #DEDEDE;
	padding: 20px 15px;
	border: double;
}
.mapa{
	padding: 20px 15px;
}
.card{
	border: outset;
}

